<form class="border border-primary border-rounded d-flex align-items-center justify-content-center mb-3">
    <div class="col center-block justi-content-space-between mb-3">
        <div class="row mb-3">
            <label for="Username" class="form-label">Username</label>
            <input id="Username" class="form-control" placeholder="Username" type="text">
        </div>
        <div class="row mb-3">
            <input aria-label="Password" class="form-control" placeholder="Password" type="text">
        </div>
        <div class="row mb-3">
            <input aria-label="Retype Password" class="form-control" placeholder="Retype Password" type="text">
        </div>
        <div class="row mb-3">
            <input aria-label="Email" class="form-control" placeholder="Email (Optional)" type="text">
        </div>
    </div>
</form>