<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search Results for</title>
    {% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% load static %}
</head>
<body>
{% bootstrap_messages %}
{% include "navTutor.html" %}
{% include "footer.html" %}

<form class="d-flex" method="POST" action="{% url 'Results' %}">
<div class="input-group mb-2">
    {% csrf_token %}
  <input type="text" class="form-control" name="data" placeholder="Search for a class" aria-label="Search for a class" aria-describedby="basic-addon2">
  <div class="input-group-append">
    <button class="btn btn-outline-secondary" type="submit">Search</button>
  </div>
</div>
    </form>
{% if query %}
<h1>Search Results for {{query}}  </h1>
{{junaid}}
{% endif %}


</body>
</html>