<!DOCTYPE Html>
<html>
<title>Welcome Tutor</title>
<head>


</head>


<body>
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}



{% bootstrap_messages %}
{% include "navStudent.html" %}
	    <strong> Tutors who are teaching the requested class </strong>

{% if not list  %}

<h1>No Tutors Found!</h1>
{% endif %}
{% for tutor in list %}
        <h4>
            <div class="text-info">
                <strong class="list-group-item list-group-item-action active p-3" aria-current="true" style="background-color:#5a42f5;">
                <div class="d-flex w-100 justify-content-between">
                <li>
                    {{tutor}} <br> <a class="btn btn-success" href="{% url 'student_make_schedule' tutor name mnemonic%}" role="button">Schedule Times</a>
                </li>
                    </div>
                </strong>
            </div>
        </h4>
    {% endfor %}

<form action="/tutorMe/student" method="get">
    {% csrf_token %}
    <div class="position-absolute start-0">
          <button type="submit" class="btn btn-secondary">Go back to Search</button>
    </div>
</form>

</script>

{% include "footer.html" %}


</body>

</html>