<!DOCTYPE Html>
<html>
<title>Welcome Tutor</title>
<head>


</head>


<body>
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}



{% bootstrap_messages %}
{% include "nav.html" %}
	<h1>Welcome to the Tutor page</h1>
	    <strong> Choose the Subject You'd Like to Tutor </strong>

		<form action="/tutorMe/tutor/classes" form method="POST" class="form">
    			{% csrf_token %}
					<div class="form-group">
						<select class="form-control" name="choice">
						<option disabled="true" selected> Choose Subject</option>
						<ul>
							{%for i in items%}
								<option>{{i}}</option>
							{% endfor %}
						</ul>
						</select>
						<input type="submit" value="submit">
					</div>
			</form>

</script>

{% include "footer.html" %}


</body>

</html>