<!DOCTYPE Html>
<html>
<title>Welcome Student</title>
<head>


</head>


<body>
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}



{% bootstrap_messages %}
{% include "nav.html" %}
	    <strong> Choose the Class You'd Like to find a Tutor for </strong>
		<form action="/tutorMe/student" form method="POST" class="form">
    			{% csrf_token %}
					<div class="form-group">
						<select class="form-control" name="choice">
						<option disabled="true" selected> Choose Class</option>
						<ul>
							{%for i in classes%}
								<option>{{i}}</option>
							{% endfor %}
						</ul>
						</select>
						<input type="submit" value="Submit">
					</div>
			</form>

</script>

{% include "footer.html" %}


</body>

</html>