<!DOCTYPE Html>
<html>
<title>Welcome Tutor</title>
<head>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>


<body>
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}



{% bootstrap_messages %}
{% include "nav.html" %}
	<h1>Welcome to the Tutor page</h1>

		<form action="/tutorMe/tutor/classes"  method="POST" class="form">
    			{% csrf_token %}
<div class="container">
  <div class="row justify-content-center align-items-center" style="height: 60vh;">
    <div class="col-lg-7">
      <div class="input-group input-group-lg">
        <input type="text" class="form-control" style="border-top-left-radius:20px;
border-bottom-left-radius:20px;" placeholder="Search for a class">

          <button type="submit" class="btn btn-primary" style="border-top-right-radius:20px;
border-bottom-right-radius:20px;"><i class="fa fa-search"></i></button>
      </div>
    </div>
  </div>
</div>
		</form>


{% include "footer.html" %}


</body>

</html>