<!DOCTYPE Html>
<html>
<title>Welcome Tutor</title>
<head>


</head>


<body>
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}



{% bootstrap_messages %}
{% include "nav.html" %}
	<h1>Welcome to the Tutor page</h1>
	    <strong> Choose the Subject You'd Like to Tutor </strong>

					<div class="dropdown">
					  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
						Subjects
					  </button>
					  <ul class="dropdown-menu">
						  <ul>
							{%for i in items%}
							  <a class="dropdown-item" href={{i}}>{{i}}</a>
							{% endfor %}
						</ul>
					  </ul>
					</div>

</script>

{% include "footer.html" %}


</body>

</html>