{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}


{% include "nav.html" %}

<form class="form align-center" method="POST">
    {% csrf_token %}
    <div class="form-group mb-3 p-5">
        <label class="form-label" for="searchBar">Find the class you want to tutor</label>
        <div class="input-group mb-3">
            <button class="btn btn-primary" id="searchBtn" style="font-weight: bold" type="button">Search</button>
            <input aria-describedby="searchBtn" class="form-control" formmethod="POST" id="searchBar"
                   name="searchBar"
                   placeholder="Search for classes..." style="max-width: 50%; text-align: center" type="search">
        </div>

        {% if not searchResults %}
        <h1>No classes match your current search!</h1>
        <h1>{{searchResults}}</h1>
        {%else%}
        <div class="list-group p-3">
            {% for result in searchResults %}
            <form action="/tutorMe/tutor/classes/list" class="form" method="POST">
                <div class="card" style="max-width: 50%">
                    <div class="card-header">
                        Subject: {{result}}
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{result.course_name}} {{result.course_number}}</h5>
                        <input class="btn btn-primary" href="/tutorMe/tutor/classes/list" style="font-weight: bold"
                               type="submit" value="Add">
                    </div>
                </div>
            </form>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</form>

{% include "footer.html" %}