<!DOCTYPE Html>
<html>
<title>Welcome Tutor</title>
<head>


</head>


<body>
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}


{% bootstrap_messages %}
{% include "nav.html" %}
<form action="/tutorMe/tutor/classes/list" class="form" form method="POST">
    {% csrf_token %}
    <div class="form-group mb-3 p-5">
        <label class="form-label" for="searchBar">Find the class you want to tutor by</label>
        <div class="input-group mb-3">
            <button class="btn btn-primary" id="searchBtn" style="font-weight: bold" type="button">Search</button>
            <input aria-describedby="searchBtn" class="form-control" id="searchBar" name="searchBar"
                   placeholder="Search for classes..."
                   style="max-width: 50%" type="search">
        </div>
        <select class="form-control" name="class_choice">
            <option disabled="true" selected> Choose Class</option>
            <ul>
                {%for i in classes%}
                <option>{{i}}</option>
                {% endfor %}
            </ul>
        </select>
        <input type="submit" value="Submit">
    </div>
</form>


{% include "footer.html" %}


</body>

</html>