<!DOCTYPE Html>
<html>
<title>Welcome Tutor</title>
<head>


</head>


<body>
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}



{% bootstrap_messages %}
{% include "navTutor.html" %}
	    <strong> Classes you are currently tutoring </strong>
{% if not list %}

<!--If user does not have any classes that they are tutoring-->

<h1>You are Not Currently Tutoring any classes.</h1>
<p class="fw-bolder">Click <a href="/tutorMe/tutor">Here</a> to sign up for classes to tutor</p>

{%else%}

<div class="list-group p-3" style="margin-top:20px;">
  {% for Class in list %}
    <div class="p-3">
      <strong class="list-group-item list-group-item-action active p-3" aria-current="true" style="background-color:#5a42f5;">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">{{Class}}</h5>
          <!-- Button trigger modal -->
          <small>
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal{{ forloop.counter }}">Remove</button>
          </small>
          <!-- Modal -->
          <div class="modal fade" id="exampleModal{{ forloop.counter }}" tabindex="-1" aria-labelledby="exampleModalLabel{{ forloop.counter }}" aria-hidden="true" data-bs-backdrop="false">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel" style="color:black;">Remove {{Class}}</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <h6 style="color:black">Are you sure you want to do this? This action is undoable.</h6>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <form action="{% url 'delete_item' Class %}" method="POST">
                        {% csrf_token %}
                        <button class="btn btn-danger" type="submit">Delete</button>
                      </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </strong>
    </div>
  {% endfor %}
</div>


<form action="/tutorMe/tutor" method="get">
    {% csrf_token %}
    <div class="text-center">
          <button type="submit" class="btn btn-secondary">Go back to Subjects</button>
    </div>
</form>
{%endif%}





{% include "footer.html" %}


</body>

</html>